<div class="user-card">
        <h4>name :khaled elsaeed abdelfattah</h4>
        <p>ID :200900050</p>
</div>
<ul class="team-report">
        <li>Help My Team In Any Technical Problem For Example Someone Had A Problem In the Terminal So I Passed Him This Command
               <q>Set-ExecutionPolicy -Scope CurrentUser -ExecutionPolicy RemoteSigned</q> 
                to solve this problem and it solved </li>
        <li>
                make this platform to help us to take notes an reports from each meamber in the team 
        </li>
        <li>
                recommended some topics like tensorflow and cv2 for my team to read about it
        </li>
</ul>
