<div class="page-container">
    <div class="sidebar">
        <div class="list-items">
            <h5>teamwork instruction</h5>
            <a routerLink="page-1" routerLinkActive="selected" class="list-item"><i class="material-icons">person</i>project manager</a>
            <a routerLink="page-2" routerLinkActive="selected" class="list-item"><i class="material-icons">person</i>team leader</a>
            <a routerLink="page-3" routerLinkActive="selected" class="list-item"><i class="material-icons">person</i>head of developers</a>
            <a routerLink="page-4" routerLinkActive="selected" class="list-item"><i class="material-icons">person</i>senior ui/ux developer</a>
            <a routerLink="page-5" routerLinkActive="selected" class="list-item"><i class="material-icons">person</i>junior ui/ux developer</a>
            <a routerLink="page-6" routerLinkActive="selected" class="list-item"><i class="material-icons">person</i>senior developer</a>
            <a routerLink="page-7" routerLinkActive="selected" class="list-item"><i class="material-icons">person</i>junior developer</a>
        </div>
    </div>
    <div class="page-content">
        <router-outlet></router-outlet>
    </div>

</div>
